<section id="main-slider" class="no-margin">
    @Html.Partial("MainSlider")
</section><!--/#main-slider-->
<section id="feature">
    @Html.Partial("Feature")<!--/.container-->
</section><!--/#feature-->
<section id="recent-works">
    @Html.Partial("RecentWork")
</section><!--/#recent-works-->
<section id="services" class="service-item">
    @Html.Partial("Services")
</section><!--/#services-->
<section id="middle">
    @Html.Partial("Skills")<!--/.container-->
</section><!--/#middle-->
<section id="content">
    @Html.Partial("LeftTabs")<!--/.container-->
</section><!--/#content-->
<section id="partner">
    @Html.Partial("Partners")<!--/.container-->
</section><!--/#partner-->
<section id="conatcat-info">
    @Html.Partial("Contact")<!--/.container-->
</section><!--/#conatcat-info-->
