<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Resources._Layout.title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="softwaredev.ro">
    <meta name="description" content="@Resources._Layout.MetaDescription" />

    <!-- core CSS -->
    @Styles.Render("~/assets/bundles/css")
    <!--[if lt IE 9]>
    <script src="~/Assets/Js/html5shiv.js"></script>
    <script src="~/Assets/Js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Assets/Images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/Images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/Images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/Images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/Images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body class="homepage">
    <header id="header">
    @Html.Partial("Top")<!--/.top-bar-->
    @Html.Partial("Nav")<!--/nav-->
    </header><!--/header-->

    @RenderBody()

    @Html.Partial("Bottom")<!--/#bottom-->
    @Html.Partial("Footer")
    <!--/#footer-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js")
</body>
</html>